@model IEnumerable<Cw12_Lab11_.Models.Patient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Create New</a>
</p>
<form asp-controller="Patients" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirdthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirdthDate)
                </td>
                <td>
                    <a class="btn btn-primary" style="background-color:darkgoldenrod" asp-action="Edit" asp-route-id="@item.IdPatient">Edit</a> |
                    <a class="btn btn-primary" style="background-color:forestgreen" asp-action="Details" asp-route-id="@item.IdPatient">Details</a> |
                    <a class="btn btn-primary" style="background-color:darkred" asp-action="Delete" asp-route-id="@item.IdPatient">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
